// Teknisi QAN Color Palette
$primary: #5003C0;
$secondary: #FFD51E;
$info: #AB03A9;
$success: #16A34A;
$danger: #DC2626;
$warning: #F59E0B;

// Body
$body-bg: #F5F5F5;
$body-color: #333333;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
